{{ define "login/new.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "layout/header.tmpl" . }}
    <link rel="stylesheet" type="text/css" href="/statics/css/login/index.css">
    <script src="/statics/js/login/index.js"></script>
  </head>
  <body>
    <div class="container-login100" style="background-image: url('/statics/images/login/bg-01.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form", action="/login/new", method="post">
          <span class="login100-form-title p-b-37">
            Sign Up
          </span>

          <input type="text" name="_csrf" id="_csrf" class="form-control hidden" placeholder="name" required autofocus value="{{ .token }}">

          <div class="wrap-input100 validate-input m-b-20" data-validate="Enter name">
            <input class="input100" type="text" name="name" placeholder="Enter name">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
            <input class="input100" type="password" name="password" placeholder="password">
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Sign Up
            </button>
          </div>

          <div class="text-center m-t-25">
            <a href="/login" class="txt2 hov1">
              Sign In
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{{ end }}

